.rdt-wrapper {
    height: 48px;
    min-height: 48px;
    width: 100%;
    background-image: linear-gradient(to right, #53A9FF, #328DE8);
    display: flex;
}

.botao-receita {
    height: 100%;
    width: 30%;
    background-color: #328DE8;
    border: none;
    color: #fff;
    font-size: 1.2em;
}

.botao-despesa {
    height: 100%;
    width: 30%;
    background-color: #328DE8;
    border: none;
    color: #fff;
    font-size: 1.2em;
}

.botao-transferencia {
    height: 100%;
    width: 40%;
    background-color: #328DE8;
    border: none;
    color: #fff;
    font-size: 1.2em;
}