.container {
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cabeçalho {
    background-image: linear-gradient(to right, #53A9FF, #328DE8);
    height: 22%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valores-wrapper {
    height: 10%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cifrao-valores {
    color: #fff;
    font-weight: 700;
    font-size: 1.3em;
}

.valores {
    color: #fff;
    font-size: 1.3em;
}

.icon {
    color: #fff;
    font-size: 1.3em;
}

.container-centro {
    height: 70%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transform: translateY(-40px);
}


.carteiras-wrapper {
    height: 55%;
    width: 100%;
    background-color: #fff;
    border: 1.2px solid #53A9FF69;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.carteira {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 12px 0;
}

.icone-carteira-wrapper {
    height: 45px;
    width: 45px;
    background-image: linear-gradient(to right, #53A9FF, #328DE8);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}

.icone-carteira {
    font-size: 1.5em;
    color: #FFF;
}

.nome-carteira-wrapper {
    height: 45px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.carteiras {
    color: #707070;
    font-weight: 700;
}

.nome-carteira {
    color: #707070;
}

.valor-carteira-wrapper {
    height: 45px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cifrao-carteira {
    color: #53A9FF;
    font-weight: 700;
}

.valor-carteira {
    color: #53A9FF;
}

.metas-wrapper {
    height: 41%;
    width: 100%;
    background-color: #fff;
    border: 1.2px solid #53A9FF69;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titulo-metas {
    color: #53A9FF;
    font-size: 1.3em;
    font-weight: 500;
}

.lista-metas {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.meta-reserva {
    height: 70px;
    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
}

.container-icone {
    height: 45px;
    width: 45px;
    background-image: linear-gradient(to right, #53A9FF, #328DE8);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carteira-meta {
    color: #fff;
    font-size: 1.3em;
}

.reserva-wrapper {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulo-reserva {
    color: #707070;
    font-weight: 700;
    font-size: 1em;
}

.container-reserva {
    border: 1px solid #53A9FF;
    border-radius: 12px;
    height: 15%;
    width: 100%;
}

.quantidade-reserva {
    height: 100%;
    width: 50%;
    border-radius: 12%;
    background-color: #53A9FF;
}

.valor-reserva-wrapper {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.cifrao-reserva {
    color: #53A9FF;
    font-weight: 700;
    font-size: 1em;
}

.valor-reserva {
    color: #53A9FF;
    font-size: 1em;
}

.botao-nova-meta {
    height: 20%;
    width: 50%;
    background-color: #53A9FF;
    color: #fff;
    font-size: 1.3em;
    font-weight: 400;
    border: none;
    border-radius: 30px;
}

.container-menu {
    height: 7%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icone-menu {
    color: #707070;
    font-size: 1.7em;
}

.botao-menu {
    height: 60px;
    width: 60px;
    background-color: #53A9FF;
    border: none;
    border-radius: 50px;
    transform: translateY(-20px)
}