.container {
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cabecalho {
    background-image: linear-gradient(to right, #53A9FF, #328DE8);
    height: 22%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valores-wrapper {
    height: 10%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cifrao-valores {
    color: #fff;
    font-weight: 700;
    font-size: 1.3em;
}

.valores {
    color: #fff;
    font-size: 1.3em;
}

.icon {
    color: #fff;
    font-size: 1.3em;
}

.container-centro {
    height: 70%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transform: translateY(-40px);
}


.carteiras-wrapper {
    height: 55%;
    width: 100%;
    background-color: #fff;
    border: 1.2px solid #53A9FF69;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.carteira {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 12px 0;
}

.icone-carteira-wrapper {
    height: 45px;
    width: 45px;
    background-image: linear-gradient(to right, #53A9FF, #328DE8);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}

.icone-carteira {
    font-size: 1.5em;
    color: #FFF;
}

.nome-carteira-wrapper {
    height: 45px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.carteiras {
    color: #707070;
    font-weight: 700;
}

.nome-carteira {
    color: #707070;
    font-weight: 400;
}

.valor-carteira-wrapper {
    height: 45px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cifrao-carteira {
    color: #53A9FF;
    font-weight: 700;
}

.valor-carteira {
    color: #53A9FF;
}

.metas-wrapper {
    height: 41%;
    width: 100%;
    background-color: #fff;
    border: 1.2px solid #53A9FF69;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titulo-metas {
    color: #53A9FF;
    font-size: 1.3em;
    font-weight: 500;
}

.lista-metas {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.meta-reserva {
    height: 70px;
    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
}

.container-icone {
    height: 45px;
    width: 45px;
    background-image: linear-gradient(to right, #53A9FF, #328DE8);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carteira-meta {
    color: #fff;
    font-size: 1.3em;
}

.reserva-wrapper {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulo-reserva {
    color: #707070;
    font-weight: 700;
    font-size: 1em;
}

.container-reserva {
    border: 1px solid #53A9FF;
    border-radius: 12px;
    height: 15%;
    width: 100%;
}

.quantidade-reserva {
    height: 100%;
    width: 50%;
    border-radius: 12%;
    background-color: #53A9FF;
}

.valor-reserva-wrapper {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.cifrao-reserva {
    color: #53A9FF;
    font-weight: 700;
    font-size: 1em;
}

.valor-reserva {
    color: #53A9FF;
    font-size: 1em;
}

.botao-nova-meta {
    height: 20%;
    width: 50%;
    background-color: #53A9FF;
    color: #fff;
    font-size: 1.3em;
    font-weight: 400;
    border: none;
    border-radius: 30px;
}

.container-menu {
    height: 7%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icone-menu {
    color: #707070;
    font-size: 1.7em;
}

.botao-menu {
    height: 60px;
    width: 60px;
    background-color: #53A9FF;
    border: none;
    border-radius: 50px;
    transform: translateY(-20px)
}

.container-centro2 {
    height: 70%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transform: translateY(-20px);
}

.contas-data1-wrapper {
    height: 55%;
    width: 100%;
    background-color: #fff;
    border: 1.2px solid #53A9FF69;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    transform: translateY(-5px);
}

.data-conta {
    color: #707070;
    font-weight: 700;
    font-size: .9em;
    margin-top: 10px;
}

.lista-contas-data {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.tipo-conta-data {
    height: 20%;
    min-height: 20%;
    width: 100%;
    min-width: 100%;
    margin: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icone-conta-data {
    height: 54px;
    width: 54px;
    background-image: linear-gradient(to right, #53A9FF, #328DE8);
    border-radius: 50px;
    margin-left: 7px;
}

.icone-conta-data2 {
    height: 54px;
    width: 54px;
    background-image: linear-gradient(to right, #8053FF, #6F49DB);
    border-radius: 50px;
    margin-left: 7px;
}

.icone-conta-data3 {
    height: 54px;
    width: 54px;
    background-image: linear-gradient(to right, #FF5353, #DE5959);
    border-radius: 50px;
    margin-left: 7px;
}

.tipo-conta-wrapper {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 7px;
}

.tipo {
    color: #707070;
    font-weight: 700;
}

.conta {
    color: #707070;
    font-size: .9em;
}

.valor-conta-wrapper {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-right: 7px;
}

.valor {
    color: #707070;
    font-weight: 700;
}

.nao-pago {
    color: #707070;
    font-size: .9em;
}

.contas-data2-wrapper {
    height: 55%;
    width: 100%;
    background-color: #fff;
    border: 1.2px solid #53A9FF69;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    transform: translateY(10px);
}

.container-criar-metas {
    height: 100%;
    width: 100%;
    background-color: #53A9FF4A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-centro-3 {
    height: 90%;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: translateY(-35px);
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 2px 0 10px #00000029;
}

.carteira-criar-metas-wrapper {
    height: 10%;
    width: 95%;
    background-color: #53A9FF38;
    display: flex;
    justify-content: space-between;
    transform: translateY(5px);
    border-radius: 12px;
    padding-top: 10px;
}

.icone-carteira2-wrapper {
    height: 45px;
    width: 45px;
    background-image: linear-gradient(to right, #53A9FF, #328DE8);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.nome-categoria-wrapper {
    height: 45px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 60px;
}

.categoria {
    color: #707070;
    font-weight: 700;
}

.nome-categoria {
    color: #707070;
}

.icon-plus-wrapper {
    height: 30px;
    width: 30px;
    background-color: #FFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.icon-plus {
    color: #53A9FF;
    font-size: 1.2em;
}

.input-nome-meta {
    height: 5%;
    width: 95%;
    border-radius: 20px;
    border: 1.4px solid #53A9FF;
    padding-left: 13px;
    box-sizing: border-box;
}

.input-nome-meta::placeholder {
    color: #53A9FF;
    font-size: 1.2em;
}

.final-meta-wrapper {
    height: 5%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.final-meta {
    color: #53A9FF;
    font-size: 1em;
}

.final-meta-data {
    height: 100%;
    width: 50%;
    border-radius: 20px;
    border: 1px solid #53A9FF;
   text-align: center;
     
}

.final-meta-data::placeholder {
    color: #53A9FF;
    font-size: 1.2em;
}

.valor-criar-meta-wrapper {
    height: 6%;
    width: 95%;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #53A9FF;
    font-size: 1.1em;
}

.discador-wrapper {
    height: 50%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.numero-discador {
    height: 45px;
    width: 45px;
    margin: 10px;
    border: 3px solid #53A9FF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #53A9FF;
    font-size: 1.2em;
}

.icone-backspace {
    height: 45px;
    width: 45px;
    margin: 18px;
    color: #53A9FF;
    font-size: 1.7em;
}

.botao-criar-meta {
    height: 8%;
    width: 45%;
    background-color: #53A9FF;
    border: none;
    border-radius: 23px;
    color: #fff;
    font-size: 1.2em;
}

.container-centro-receita {
    height: 87%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.rdt-wrapper {
    height: 6%;
    width: 100%;
    background-image: linear-gradient(to right, #53A9FF, #328DE8);
    display: flex;
}

.botao-receita {
    height: 100%;
    width: 30%;
    background-color: #53A9FF;
    border: none;
    color: #fff;
    font-size: 1.2em;
}

.botao-despesa {
    height: 100%;
    width: 30%;
    background-color: #328DE8;
    border: none;
    color: #fff;
    font-size: 1.2em;
}

.botao-transferencia {
    height: 100%;
    width: 40%;
    background-color: #328DE8;
    border: none;
    color: #fff;
    font-size: 1.2em;
}

.valor-total-receita {
    height: 25%;
    width: 100%;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #53FFB9;
    font-size: 2em;
}

.cifrao-receita {
    font-weight: 700;
}

.discador-receita-wrapper {
    height: 73%;
    width: 100%;
    background-color: #fff;
    transform: translateY(-12px);
    box-shadow: 0 3px 6px #00000029;
}

