.carteira-criar-metas-wrapper {
    height: 10%;
    width: 95%;
    background-color: #53A9FF38;
    display: flex;
    justify-content: space-between;
    transform: translateY(5px);
    border-radius: 12px;
    padding-top: 10px;
}

.icon-plus-wrapper {
    height: 30px;
    width: 30px;
    background-color: #FFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.icon-plus {
    color: #53A9FF;
    font-size: 1.2em;
}