.container-modal-metas {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #53A9FF4A;
}

.container-centro-3 {
    height: 71%;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 2px 0 10px #00000029;
    transform: translateY(20px);
    padding: 10px;
    box-sizing: border-box;
} 

.input-nome-meta {
    height: 5%;
    width: 95%;
    border-radius: 20px;
    border: 1.4px solid #53A9FF;
    padding-left: 13px;
    box-sizing: border-box;
}

.input-nome-meta::placeholder {
    color: #53A9FF;
    font-size: 1.2em;
}

.final-meta-wrapper {
    height: 5%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.final-meta {
    color: #53A9FF;
    font-size: 1em;
}

.final-meta-data {
    height: 100%;
    width: 50%;
    border-radius: 20px;
    border: 1px solid #53A9FF;
   text-align: center;
     
}