.container-reserva {
    border: 1px solid #53A9FF;
    border-radius: 12px;
    height: 15%;
    width: 100%;
}

.quantidade-reserva {
    height: 100%;
    width: 50%;
    border-radius: 12%;
    background-color: #53A9FF;
}